body{
    padding-top: 20px;
/*  background-image: url(../images/BG.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 49%;*/
}

.top-container{
    background-image: url(../images/top.png); 
    background-repeat: no-repeat;
    background-position: center;
    height: 140px;
    text-align: center;
    padding-top: 30px;
    margin: 0px auto 10px auto;
}

.top-container h1{
    padding-top: 20px;
}

button:focus { outline-style: none; }

#left-of-main{
    margin: 0;
    width: 50px;
}

.on{
    background-color: #ffd000;
}

.sideLights{
    margin-bottom: 10px; 
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 4px double black;
}


#right-of-main{
    margin: 0;
    width: 50px;
}

.main-container-holder{
    margin: 0 auto 0 auto;
    display: flex;
    max-width: 750px;
}

#center-of-main{
    background-color: #eefd51;
    max-height: 500px;
}

/*reels*/

#center-of-main{
    border-radius: 10px;
    margin: auto;
    max-width: 800px;
    text-align: center;
}

#reels-holder{
    background-color: #eefd51;
    max-width: 800px;
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0 20px 0;
}

.reel-holder{
    margin: 0 auto 0 auto;
    position: relative;
}

.positioner{
    background-color: white;
    padding: 10px;
    border-radius: 20%;
    height: 180px;
    width: 150px;
    margin: 0 auto 0 auto;
    text-align: center;
    border: 2px solid darkgray;

}

.random-reel{
    width: 130px;
    height: 140px;
    overflow: hidden;
}

.reel1{
    
}

.reel2{

}

.reel3{

}



.reels-container img{
    height: 100%;
    width: 100%;
}

#seperator{
    border-radius: 50px;
    margin: 10px auto 10px auto;
    border: 4px solid red;
    width: 80%;
    height: 60px;
    font-size: 2.5rem;
    color: red;
    background-color: rgba(255, 255, 255, 0.5);
}

/*info section*/

.info-section{
    height: 40px;
    border: 2px solid white;
    display: flex;
    margin: 0 auto 0 auto;
    font-size: 1.5rem;
    background-image: url(../images/buttons-bg.png); 
    background-position: center;
}

.score{
    padding-bottom: 10px;
    display: flex;
    width: 100%;
    height: 60px;
    padding-left: 20px;
}

#credit{
    margin: 0 10px 0 30px;
}

#credits{
    margin: 0 10px 0 10px;
}

.total-won{
    padding-left: 60px;
    display: flex;
    margin: 0 auto 0 auto;
    width: 100%;
    height: 60px;
}

#totalWonCredit{
    margin-left: 20px;
}

#totalWon{
    margin: 0 10px 0 30px;
}


/*buttons*/
#btn-spinreel{
    background-image: url(../images/buttons-bg.png); 
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 20px;
    position: relative;
    height: 400px;
    margin: 0 auto 0 auto;
}

#btn-spinreel button{
    background-color: rgb(253, 74, 74);
    border-radius: 50%;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 1.5px 9px #999;
}



#btn-spinreel button:active {
  background-color: rgb(255, 28, 28);
  box-shadow: 0 5px #666;
  transform: translateY(6px);
}

.betBtn{
    margin: 0 20px 0 20px;
    width: 80px;
    height: 80px;
}



