body{
    
}

/*reels*/

.container{
    text-align: center;
}

.reel-holder{
    position: relative;
    border: 1px solid black;
}

.positioner{
    padding: 30px;
    border-radius: 20%;
    height: 180px;
    width: 180px;
    margin: 0 auto 0 auto;
    text-align: center;

}

.random-reel{
    width: 130px;
    height: 130px;
    overflow: hidden;
    /*border: 2px dotted green;*/
}

.reel1{
    
}

.reel2{

}

.reel3{

}



.reels-container img{
    height: 100%;
    width: 100%;
}

/*spin button*/

#btn-spinreel button{
    background-color: white;
    width: 200px;
    height: 100px;
    border-radius: 50%;
    border: 5px red solid;
    font-size: 3rem;
}